{% extends "base.html" %}

{% block page_name %}
    {{cafe.cafeName}}
{% endblock page_name %}

<!--내용-->
{% block content %}
<div>
        <div class="-mt-5 container max-w-full  flex mb-20">
            <div class="h-screen w-1/2 bg-center bg-cover" style="background-image:url({{cafe.first_photo}});"></div>
        <div class="h-screen w-1/2 flex flex-wrap">
            {% for photo in cafe.get_next_four_photos %}
                <div style="background-image:url({{photo.file.url}})" class="w-1/2 h-auto bg-cover bg-center border-gray-700 border"></div>
            {% endfor %}
        </div>
        </div>

    <div class="container mx-auto flex justify-around pb-56">
        <div class="w-1/2">
            <div class="flex justify-between">
                <div class="mb-5">
                    <h4 class="text-3xl font-medium mb-px">{{cafe.cafeName}}</h4>
                    <span class="text-gray-700 font-light">{{cafe.country}}</span>
                </div>

            </div>
            <div class="flex border-b border-gray-400 pb-8 mt-8">
                <span class="mr-5 font-light">{{cafe.cafetype}}</span>
            </div>
            <p class="border-b border-gray-400 pb-8 mt-8">
                {{cafe.description}}
            </p>

            <div class="border-b border-gray-400 pb-8 mt-8">
                <h4 class="font-medium text-lg mb-5">메뉴</h4>
                {% for a in cafe.cafeMenu.all %}
                    <li class="mb-2">{{a}}</li>
                {% endfor %}
            </div>
            <div class="mt-8">
                <h4 class="font-medium text-2xl mb-5">후기</h4>
                <div class="flex items-center">
                    <div>
                        <i class="fas fa-star text-teal-500"></i>
                        <span class="font-bold text-xl">{{cafe.total_rating}}</span>
                    </div>
                    <div class="h-5 w-px bg-gray-400 mx-5"></div>
                    <span class="font-bold text-xl">{{cafe.reviews.count}}</span>
                    <span>review{{cafe.reviews.count|pluralize}}</span>
                </div>
                <div class="mt-10">
                    {% for a in cafe.reviews.all %}
                        <div class="border-b border-gray-400 pb-8 mt-8">
                            <div class="mb-3 flex">
                                <div class="flex flex-col ml-5">
                                    <span class="font-medium">{{a.user.first_name}}</span>
                                    <span class="text-sm text-gray-500 mt-3">{{a.created|date:'y.m.j'}}</span>
                                </div>
                            </div>
                            <p>{{a.review}}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="w-1/3"></div>
    </div> 
{% endblock %}

{% comment %} 
<link rel="stylesheet" href="https://demos.creative-tim.com/notus-js/assets/styles/tailwind.css">
<link rel="stylesheet" href="https://demos.creative-tim.com/notus-js/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css">

  <section class="relative block h-500-px -mt-5">
    <div class="absolute top-0 w-full h-full bg-center bg-cover" style="background-image: url({{cafe.first_photo}});">
      <span id="blackOverlay" class="w-full h-full absolute opacity-50 bg-black"></span>
    </div>
    <div class="top-auto bottom-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden h-70-px" style="transform: translateZ(0px)">
      <svg class="absolute bottom-0 overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" version="1.1" viewBox="0 0 2560 100" x="0" y="0">
        <polygon class="text-blueGray-200 fill-current" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </section>
  <section class="relative py-16 bg-blueGray-200">
    <div class="container mx-auto px-4">
      <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-xl rounded-lg -mt-64">
        <div class="px-6">
          <div class="flex flex-wrap justify-center">
            <div class="w-full lg:w-3/12 px-4 lg:order-2 flex justify-center">
              <div class="relative">
                <img alt="..." src="https://demos.creative-tim.com/notus-js/assets/img/team-2-800x800.jpg" class="shadow-xl rounded-full h-auto align-middle border-none absolute -m-16 -ml-20 lg:-ml-16 max-w-150-px">
              </div>
            </div>
            <div class="w-full lg:w-4/12 px-4 lg:order-3 lg:text-right lg:self-center">
              <div class="py-6 px-3 mt-32 sm:mt-0">
                <button class="bg-pink-500 active:bg-pink-600 uppercase text-white font-bold hover:shadow-md shadow text-xs px-4 py-2 rounded outline-none focus:outline-none sm:mr-2 mb-1 ease-linear transition-all duration-150" type="button">
                  Connect
                </button>
              </div>
            </div>
            <div class="w-full lg:w-4/12 px-4 lg:order-1">
              <div class="flex justify-center py-4 lg:pt-4 pt-8">
                <div class="mr-4 p-3 text-center">
                  <span class="text-xl font-bold block uppercase tracking-wide text-blueGray-600">22</span><span class="text-sm text-blueGray-400">Friends</span>
                </div>
                <div class="mr-4 p-3 text-center">
                  <span class="text-xl font-bold block uppercase tracking-wide text-blueGray-600">{{cafe.total_rating}}</span><span class="text-sm text-blueGray-400">별점</span>
                </div>
                <div class="lg:mr-4 p-3 text-center">
                  <span class="text-xl font-bold block uppercase tracking-wide text-blueGray-600">{{cafe.reviews.count}}</span><span class="text-sm text-blueGray-400">리뷰</span>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center mt-12">
            <h3 class="text-4xl font-semibold leading-normal mb-2 text-blueGray-700 mb-2">
              {{cafe.cafeName}}
            </h3>
            <div class="text-sm leading-normal mt-0 mb-2 text-blueGray-400 font-bold uppercase">
              <i class="fas fa-map-marker-alt mr-2 text-lg text-blueGray-400"></i>
              {{cafe.country}}
            </div>
            <div class="mb-2 text-blueGray-600 mt-10">
              <i class="fas fa-briefcase mr-2 text-lg text-blueGray-400"></i>{{cafe.cafetype}}
            </div>
            <div class="mb-2 text-blueGray-600">
              <i class="fas fa-university mr-2 text-lg text-blueGray-400"></i>University of Computer Science
            </div>
          </div>


          <div class="mt-10 py-10 border-t border-blueGray-200 text-center">
            <div class="flex flex-wrap justify-center">
              <div class="w-full lg:w-9/12 px-4">
                {% comment %} <p class="mb-4 text-lg leading-relaxed text-blueGray-700"> {% endcomment %}
                                      {% comment %} {% for a in cafe.cafeMenu.all %}
                    <li class="mb-2">{{a}}</li>
                {% endfor %} {% endcomment %}
                {% comment %} </p> {% endcomment %}
              {% comment %} </div>
            </div>
          </div>

          <div class="mt-10 py-10 border-t border-blueGray-200 text-center">
            <div class="flex flex-wrap justify-center">
              <div class="w-full lg:w-9/12 px-4">
                <p class="mb-4 text-lg leading-relaxed text-blueGray-700">
                      {{cafe.description}}
                </p>
              </div>
            </div>
          </div>
          <div class="mt-10 py-10 border-t border-blueGray-200 text-center">
            <div class="flex flex-wrap justify-center">
              <div class="w-full lg:w-9/12 px-4">
<div>
        <div class="-mt-5 container max-w-full  flex mb-20">
            <div class="h-screen w-1/2 bg-center bg-cover" style="background-image:url({{cafe.first_photo}});"></div>
        <div class="h-screen w-1/2 flex flex-wrap">
            {% for photo in cafe.get_next_four_photos %}
                <div style="background-image:url({{photo.file.url}})" class="w-1/2 h-auto bg-cover bg-center border-gray-700 border"></div>
            {% endfor %}
        </div>
        </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section> 
  {% endcomment %} 