<!--큰 골격 담당-->
<!--static폴더에서 데이터를 가져오겠다는 뜻-->
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!--  static에서 css추가  -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="css/bootstrap,min.css">
    <!-- block은 extend를 한 모듈에서 가져오는 것   -->
    <!-- block from cafes/cafe_list.html    -->
    <title>{% block page_name %}{% endblock page_name %}| Nbnb</title>
  </head>
  <body class="text-gray-800 mt-24">
    <header class="container max-w-full inset-0 flex items-center justify-between px-6 h-20 border-b border-gray-400 fixed bg-white">
      <!--   블록 1  -->
      <div class="flex items-center w-1/3">
          <a class="mr-6" href="{% url 'core:CoreHomeView' %} ">
              <img class="w-12 " src="{% static 'img/logo.jpg' %}" />
          </a>
        {% block search-bar %}
          <!-- 액션이 들어오면 cafes의 search함수로 이동시키고 get방식으로 데이터를 사용한다.   -->
          <form class="w-9/12" method="get" action="{% url 'cafes:viewSearch' %}">
            <input class=" border px-5 w-full font-medium text-gray-900 placeholder-gray-600 py-3 rounded-sm w-64 shadow-md hover:shadow-lg focus:outline-none" name="InputCity" placeholder="도시명으로 검색" />
          </form>
        {% endblock search-bar %}
      </div>
      <!--   블록 2  -->
      {% include "partials/header.html" %}
    </header>

    {% block content %}{% endblock %}
    {% include "partials/footer.html" %}

  </body>
</html>